nb-card {
    .text-wrap {
      padding: 0 25px 25px 25px;
      .red-text {
        color: #e5162b;
        padding-top: 25px;
      }
      .btn-wrap {
        float: right;
        padding: 25px 0;
        .send-btn {
          margin-right: 10px;
        }
      }
    }
  }
  