<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" ngxsForm="book.book">

    <nb-card class="profile-body">
        <nb-card-body>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label class="label" for="input-passenger-name">Passenger Name:</label>
                        <input nbInput formControlName="passengerName" placeholder="PassengerName" autofocus fullWidth
                            fieldSize="large" required minlength="3" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label class="label" for="input-email">Email:</label>
                        <input nbInput formControlName="email" placeholder="Email" autofocus fullWidth fieldSize="large"
                            required minlength="3" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label class="label" for="input-mobileNo">Mobile No</label>
                        <input nbInput formControlName="mobileNo" placeholder="Mobile No" autofocus fullWidth fieldSize="large"
                            required minlength="10" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control-group">
                        <label class="label" for="input-remarks">Remarks</label>
                        <input nbInput formControlName="remarks" placeholder="Remarks" autofocus fullWidth fieldSize="large"
                            required minlength="3" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-control-group">
                        <label class="label" for="input-fare">Fare Per Seat</label>
                        <input type="number" nbInput  formControlName="fare" readonly placeholder="Fare" autofocus fullWidth fieldSize="large"
                             />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-control-group">
                        <label class="label" for="input-no-of-seat">No of Seats</label>
                        <input type="number" nbInput formControlName="noOfSeats"  [(ngModel)]="total" placeholder="No of Seat" autofocus fullWidth fieldSize="large"
                            required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-control-group">
                        <label class="label" for="input-total-fare">Total Fare</label>
                        <input type="number" nbInput formControlName="totalFare" [value]="total*fare" readonly placeholder="Total Fare" autofocus fullWidth fieldSize="large"
                             />
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <div class="buttons">
        <button nbButton status="primary" type="submit"
            [disabled]="(submitted$ | async) || !bookForm.valid || !bookForm.dirty">
            Save
        </button>
    </div>
</form> 