<nb-card>
    <nb-card-body>
    <div class="row">

        <div class="col-md-3" style="border: 0.5px solid black;padding: 0.5px; margin:2px;">
            <a href="/booking">  
            <p style="text-align: center;">Total Bookings</p>
               <p style="text-align: center;">40</p>
            </a> 
        </div>
        <div class="col-md-3" style="border: 0.5px solid black;padding: 0.5px; margin:2px;">
            <a href="/bus">
            <p style="text-align: center;"> Total Bus Schedules</p>
               
                <p style="text-align: center;">40</p>
            </a>
        </div>
        <div class="col-md-3" style="border: 0.5px solid black; padding: 0.5px; margin:2px;">
            <a href="/">
            <p style="text-align: center;">Total Offers</p>
                <p style="text-align: center;"> 40</p>
            </a>    
        </div>
       
    </div>
</nb-card-body>
</nb-card>