@import '~@nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  .navigation .link {
    display: inline-block;
    text-decoration: none;

    nb-icon {
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  .links nb-icon {
    font-size: 2.5rem;
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }

  .nb-auth-block {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 35rem;

    .logo {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: initial;
    }

    :host {
      display: block;
      width: 100%;
      max-width: 35rem;
    }
  }

  ::ng-deep {
    form {
      width: 100%;
    }

    .forgot-password {
      text-decoration: none;
      margin-bottom: 0.5rem;
      height: 1.8em;
    }

    .caption {
      margin-top: 0.5rem;
    }

    .alert {
      text-align: center;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    .form-control-group {
      margin-bottom: 2rem;
    }

    .form-control-group.accept-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }

    .label-with-link {
      display: flex;
      justify-content: space-between;
    }

    .links {
      text-align: center;
      margin-top: 1.75rem;

      .socials {
        margin-top: 1.5rem;
      }

      .socials a {
        margin: 0 1rem;
        text-decoration: none;
        vertical-align: middle;

        &.with-icon {
          font-size: 2rem;
        }
      }
    }

    .another-action {
      margin-top: 2rem;
      text-align: center;
    }

    .sign-in-or-up {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

    nb-alert {
      .alert-title,
      .alert-message {
        margin: 0 0 0.5rem;
      }

      .alert-message-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      border-radius: 0;
      height: 100vh;
    }
  }

  ::ng-deep {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: $auth-layout-padding;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}
